.mod-nav {
  position: absolute;
  right: 0;
  top: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    float: left;
    margin: 0;
    @include transition(all .3s ease);

    &:hover {
      background-color: darken($primary-color, 5%);

      & > .dropdown {
        max-height: 1000px;
      }
    }
  }

  a {
    display: block;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
  }

  .dropdown {
    max-height: 0;
    position: absolute;
    min-width: 100%;

    background-color: darken($primary-color, 5%);

    overflow: hidden;
    @include transition(all .3s ease);

    li {
      float: none;
      &:hover {
        background-color: lighten($primary-color, 5%);
      }
    }

    a {
      line-height: 1;
    }
  }
}
