#countries{
  polygon-opacity: 0.8;
  line-color: #FFF;
  line-width: 1;
  line-opacity: 1;
}
#countries [cash_transfers <= 668] {
  polygon-fill: #FFFAC0;
}
#countries [cash_transfers <= 213] {
  polygon-fill: #E8C365;
}
#countries [cash_transfers <= 136] {
  polygon-fill: #D08A1B;
}
#countries [cash_transfers <= 100] {
  polygon-fill: #B85D1C;
}
#countries [cash_transfers <= 70] {
  polygon-fill: #983745;
}
#countries [cash_transfers <= 40] {
  polygon-fill: #632969;
}
#countries [cash_transfers <= 17] {
  polygon-fill: #212D6F;
}
