<div class="cartodb-popup">
  <a href="#close" class="cartodb-popup-close-button close">x</a>
   <div class="cartodb-popup-content-wrapper">
     <div class="cartodb-popup-header">
      <h3>Infowindow title</h3>
     </div>
     <div class="cartodb-popup-content">
       <h4>City: </h4>
       <p>{{content.data.name}}</p>
     </div>
   </div>
   <div class="cartodb-popup-tip-container"></div>
</div>
